* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
.container {
    background-color:aquamarine;
    display: grid;
    height: 100vh; 
    width: 100vw;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 90px 2fr 60px;
}
#area-1 {
    background-color: white;
}
#area-2 {
    background-color: red;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    border-left: 10px black solid;
}
#area-3 {
    background-color: white;
    border-top: 10px black solid;
}
#area-4 {
    background-color: blue;
    border-top: 10px black solid;
}
#area-5 {
    background-color: white;
    border-right: black 10px solid;
    border-left: black 10px solid;
    border-top: black 10px solid;
}
#area-6 {
    background-color: chartreuse;
    border-top: black 10px solid;
    display: grid;
    /* flex-direction: column; */
    /* height: auto; */
}
#area-7 {
    background-color:white;
    border-bottom: black 10px solid;
}
#area-8 {
    background-color:yellow;
}